<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.setyongr.pinjamin">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.setyongr.pinjamin.App">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
        <activity android:name="com.setyongr.pinjamin.presentation.auth.portal.PortalActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.setyongr.pinjamin.presentation.user.main.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.setyongr.pinjamin.presentation.auth.signin.SignInActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name="com.setyongr.pinjamin.presentation.auth.signup.SignUpActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".presentation.user.pinjamandetail.PinjamanDetailActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name="com.setyongr.pinjamin.presentation.partner.pinjamandetail.PartnerPinjamanDetailActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".presentation.user.placeorder.PlaceOrderActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name="com.setyongr.pinjamin.presentation.partner.PartnerOrderDetaillActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name="com.setyongr.pinjamin.presentation.user.main.profile.verify.VerifyProfileActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name="com.setyongr.pinjamin.presentation.partner.PartnerActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".presentation.partner.createpinjaman.CreatePinjamanActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".presentation.user.orderdetail.OrderDetailActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".presentation.partner.UsePinjamanActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".presentation.user.point.PointActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>